// Fonts
$font-family-headers: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif: "Open Sans", Arial, sans-serif;

// Colors
$trump-red: #BC0000;
$trump-red-dark: #851820;
$trump-blue: #263B7F;
$trump-blue-dark: #14172B;
$trump-blue-purple: #2B325F;
$trump-blue-purple-desat: #959CC7;

$dark-blue-grey: #2c313f;
$middle-grey: #7a7c84;
$light-grey: #DEDEDE;

$white: #fff;
$off-white: #FCFCFC;
$black: #212121;

$primary-brand-color: $trump-blue;
$secondary-brand-color: $trump-red;

$body-text-color: $middle-grey;
$secondary-text-color: $dark-blue-grey;