/*--------------------------------------------------------------
# Jetpack
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Contact Form
--------------------------------------------------------------*/
.site-content .contact-form > div {
	margin-bottom: 1.5em;
}

.site-content .contact-form label {
	font-weight: normal;
}

.site-content .contact-form input[type="text"],
.site-content .contact-form input[type="email"],
.site-content .contact-form input[type="url"],
.site-content .contact-form textarea {
	width: 100%;
	max-width: 100%;
}

.site-content .contact-form label span {
	color: inherit;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.site .slideshow-window {
	border-radius: 0;
	margin-bottom: 1.5em;
}

.site .slideshow-controls a,
.site .tiled-gallery-item > a {
	box-shadow: none;
}

.site .tiled-gallery {
	margin-bottom: 1.5em;
}

.site .tiled-gallery-caption {
	background: #fff;
	color: $body-text-color;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.3847;
	padding: 0.1875rem 0;
	text-indent: 3px;
}

.instagram-media {
	margin: 0 0 1.5em !important;
	width: 100% !important;
}

/*--------------------------------------------------------------
## Infinite Scroll
--------------------------------------------------------------*/
/* Infinite Footer */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

#infinite-footer {
	background: $primary-brand-color;
	opacity: 0.75;
	z-index: 9999;
}

#infinite-footer:hover {
	opacity: 1;
}

#infinite-footer .container {
	background: transparent;
	border: 0;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.3847;
	padding: 0.692308em 3.692308em;
}

#infinite-footer .blog-info,
#infinite-footer .blog-credits {
	line-height: inherit;
	overflow: visible;
}

#infinite-footer .blog-credits,
#infinite-footer .blog-credits a,
#infinite-footer .blog-info a {
	color: #fff;
	display: inline-block;
	font-size: inherit;
	font-weight: normal;
	text-decoration: none;
}

#infinite-footer .blog-info a:hover,
#infinite-footer .blog-credits a:hover {
	box-shadow: 0 1px 0 0;
	color: #fff;
	text-decoration: none;
}

/* Infinite Handle */
#infinite-handle {
	border-top: 1px solid #f3f3f3;
	padding: 1.5em;
}

.site-main #infinite-handle span {
	background: transparent;
	border-radius: 0;
	color: inherit;
	font-size: inherit;
	padding: 0;
}

.site-main #infinite-handle span button,
.site-main #infinite-handle span button:focus,
.site-main #infinite-handle span button:hover {
	background: $primary-brand-color;
	border: 0;
	border-radius: 5em;
	color: #fff;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: bold;
	line-height: 1.3847;
	padding: 0.69231em 1.5em;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.site-main #infinite-handle span button:focus,
.site-main #infinite-handle span button:hover {
	background: $secondary-text-color;
	color: #fff;
}

/* Infinite Loader */
.site-main .infinite-loader {
	border-top: 1px solid #f3f3f3;
	box-sizing: content-box;
	height: 5.25em;
}

.infinite-loader .spinner {
	left: 50% !important;
	top: 50% !important;
	z-index: 9998 !important;
}

.infinite-loader .spinner div {
	background: currentcolor !important;
	color: $primary-brand-color;
}

/* Infinite Wrap */
.infinite-wrap {
	border-top: 1px solid #f3f3f3;
	padding-top: 1.5em;
}

.infinite-wrap .hentry {
	margin-top: -1.5em;
}

.post-type-archive-jetpack-testimonial .infinite-wrap {
	border: none;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 0;
}

.post-type-archive-jetpack-testimonial .infinite-wrap .hentry {
	margin-top: 0;
}

/*--------------------------------------------------------------
## PollDaddy
--------------------------------------------------------------*/
.PDS_Poll {
	margin-bottom: 1.5em;
}

/*--------------------------------------------------------------
## Recipes
--------------------------------------------------------------*/
.site-content .jetpack-recipe {
	margin: 0 0 1.5em;
	padding: 1.5em 1.5em 0;
}

.site-content .jetpack-recipe blockquote {
	margin-left: 0;
}

.site-content .jetpack-recipe ol,
.site-content .jetpack-recipe ul {
	list-style-position: inside;
}

.site-content .jetpack-recipe-title {
	padding: 0;
	margin: 0 auto 1.5rem;
	border-bottom: 0;
}

.site-content .jetpack-recipe-content br {
	display: none;
}

.site-content .jetpack-recipe .jetpack-recipe-meta {
	font-size: inherit;
	line-height: inherit;
	overflow: inherit;
}

.site-content .jetpack-recipe-meta:before,
.site-content .jetpack-recipe-meta:after {
	content: "";
	display: table;
}

.site-content .jetpack-recipe-meta:after {
	clear: both;
}

/*--------------------------------------------------------------
## Responsive Videos
--------------------------------------------------------------*/
.jetpack-video-wrapper {
	margin: 0 0 1.5em;
}

.jetpack-video-wrapper:empty {
	display: none;
}

.jetpack-video-wrapper video {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
## Sharedaddy
--------------------------------------------------------------*/
.hentry #jp-post-flair {
	padding: 0;
}

div#jp-relatedposts,
.sd-like.jetpack-likes-widget-wrapper,
.sd-rating,
.sd-sharing-enabled:not(#jp-post-flair) {
	margin: 0 0 1.5rem;
}

div#jp-relatedposts,
.sd-like.jetpack-likes-widget-wrapper,
.sd-sharing-enabled:not(#jp-post-flair) {
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 1.5rem;
}

.page-template-panel-page .hentry.has-post-thumbnail div#jp-relatedposts,
.page-template-panel-page .hentry.has-post-thumbnail .sd-like.jetpack-likes-widget-wrapper,
.page-template-panel-page .hentry.has-post-thumbnail .sd-sharing-enabled:not(#jp-post-flair) {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.page-template-panel-page .hentry.has-post-thumbnail .sd-rating + .sd-sharing-enabled:not(#jp-post-flair) {
	border-top-color: rgba(255, 255, 255, 0.25);
}

.sd-like.jetpack-likes-widget-wrapper iframe {
	margin-bottom: 0;
}

.hentry div.sd-rating h3.sd-title,
.hentry div.sharedaddy h3.sd-title ,
.hentry div#jp-relatedposts h3.jp-relatedposts-headline {
	color: currentcolor;
	font-family: inherit;
	font-size: inherit;
	font-weight: normal;
	line-height: inherit;
	margin: 0;
}

.hentry .pd-rating + br,
.hentry div.sharedaddy h3.sd-title:before,
.hentry div#jp-relatedposts h3.jp-relatedposts-headline em:before {
	display: none;
}

.hentry div.sharedaddy h3.sd-title {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.3847;
	padding: 0.1875rem 0;
	text-transform: uppercase;
}

.hentry div.sharedaddy .sd-content ul,
.hentry div.sharedaddy .sd-content .inner ul {
	margin-bottom: 0 !important;
}

.hentry .sd-sharing .share-count {
	line-height: 1 !important;
}

/* Related Posts */
div#jp-relatedposts {
	clear: both;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.3847;
	padding: 1.5rem 0 1.5rem;
	position: relative;
	width: 100%;
}

.hentry div#jp-relatedposts h3.jp-relatedposts-headline {
	text-transform: uppercase;
}

div#jp-relatedposts .jp-relatedposts-post-context,
div#jp-relatedposts .jp-relatedposts-post-date,
div#jp-relatedposts .jp-relatedposts-post-title {
	padding: 0.1875rem 0;
}

div#jp-relatedposts .jp-relatedposts-post-excerpt {
	border: solid transparent;
	border-width: 0.1875rem 0;
	box-sizing: content-box;
}

div#jp-relatedposts .jp-relatedposts-post-excerpt:empty {
	display: none;
}

div#jp-relatedposts .jp-relatedposts-post-aoverlay {
	box-shadow: none;
}

div#jp-relatedposts .jp-relatedposts-post-aoverlay:focus {
	outline: 1px solid;
}

div#jp-relatedposts a:focus {
	background: transparent;
}

.hentry div#jp-relatedposts h3.jp-relatedposts-headline em {
	font-weight: inherit;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items {
	width: 100%;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items p {
	font-size: inherit;
	line-height: inherit;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post,
.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-context,
.hentry #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-context,
.hentry #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-date {
	opacity: 1;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post {
	padding: 0;
	margin-bottom: 1.5em;
	width: 100%;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items.jp-relatedposts-items-minimal .jp-relatedposts-post {
	margin: 0;
	padding: 0;
	width: 100%;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post:last-of-type,
.hentry div#jp-relatedposts div.jp-relatedposts-items.jp-relatedposts-items-minimal .jp-relatedposts-post:last-of-type {
	margin-bottom: 0;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-context:empty {
	display: none;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-title {
	font-size: inherit;
	font-weight: inherit;
	letter-spacing: 0;
	line-height: inherit;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-title a {
	box-shadow: none;
	font-weight: inherit;
	text-decoration: none !important;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-title a:focus,
.hentry div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post-title a:hover {
	box-shadow: 0 1px 0 0;
}

.hentry div#jp-relatedposts div.jp-relatedposts-post-thumbs .jp-relatedposts-post-title {
	padding-top: 0.375rem;
}

.hentry div#jp-relatedposts div.jp-relatedposts-items span.jp-relatedposts-post-title {
	font-size: inherit;
	line-height: inherit;
}

/* Ratings */
.comment .pd-rating,
.hentry .pd-rating {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1 !important;
	margin-bottom: 1.5rem;
	padding: 0.25em 0;
}

.sd-rating + .sd-sharing-enabled:not(#jp-post-flair) {
	border-top: 1px solid #f3f3f3;
	padding-top: 1.5rem;
}

.hentry .post-likes-widget {
	margin-bottom: 1.5em;
	position: inherit !important;
	top: auto !important;
}

.comments-area .comment-likes {
	height: 1.5em;
}

.comments-area .comment-likes .comment-like-link {
	box-shadow: none;
	line-height: 1.5;
}

.comments-area .comment-like-link:before,
.comments-area .comment-likes-overlay span.icon {
	line-height: 1.2;
}

.comments-area .comment-likes .comment-like-feedback {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

/*--------------------------------------------------------------
## Social Menu
--------------------------------------------------------------*/
.site .jetpack-social-navigation ul {
	font-size: 16px;
	font-size: 1rem;
	margin: 0 0 0.75em;
}

.site .jetpack-social-navigation ul:before,
.site .jetpack-social-navigation ul:after {
	content: "";
	display: table;
}

.site .jetpack-social-navigation ul:after {
	clear: both;
}

.site .jetpack-social-navigation li {
	display: block;
	margin: 0 0.25em;
	text-align: center;
}

.site .jetpack-social-navigation li {
	float: left;
}

.site .jetpack-social-navigation li:first-child {
	margin-left: 0;
}

.site .jetpack-social-navigation li:last-child {
	margin-right: 0;
}

.site .jetpack-social-navigation a {
	border: 1px solid #f3f3f3;
	border-radius: 50%;
	color: $body-text-color;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	height: 2em;
	position: relative;
	width: 2em;
}

.site .jetpack-social-navigation a:before {
	left: 50%;
	margin-left: -0.5em;
	margin-top: -0.5em;
	position: absolute;
	top: 50%;
}

.site .jetpack-social-navigation a:hover,
.site .jetpack-social-navigation a:focus {
	background: #f3f3f3;
	color: $primary-brand-color;
}

/*--------------------------------------------------------------
## Testimonials
--------------------------------------------------------------*/
.site .testimonial-entry-mobile-first-item-row,
.site .testimonial-entry-mobile-last-item-row {
	margin: 0;
	width: 100%;
}

.site .jetpack-testimonial,
.site .testimonial-entry {
	border: 1px solid #f3f3f3;
	margin-bottom: 1.5em;
	padding: 1.5em 1.5em 0;
}

.page-template-panel-page .has-post-thumbnail .testimonial-entry,
.widget-footer-top-area .testimonial-entry {
	border-color: rgba(255, 255, 255, 0.75);
}

.site .jetpack-testimonial.has-post-thumbnail,
.site .testimonial-entry.has-testimonial-thumbnail {
	margin-bottom: 3.5em;
}

.site .testimonial-entry-content {
	font-style: italic;
	margin: 0 0 1.5em;
}

.site .testimonial-entry-content > br {
	display: none;
}

.site .testimonial-entry-title {
	color: $secondary-text-color;
	display: block;
	font-weight: bold;
	margin-bottom: 1.5em;
}

.page-template-panel-page .hentry.has-post-thumbnail .testimonial-entry-title,
.widget-footer-top-area .testimonial-entry-title {
	color: #fff;
}

.jetpack-testimonial + .jetpack-testimonial {
	margin-top: 0;
}

.testimonial-featured-image {
	display: block;
	width: 4em;
}

.site a.testimonial-featured-image {
	box-shadow: none;
}

.site .testimonial-featured-image {
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
}

.testimonial-featured-image img {
	border-radius: 50%;
	margin-bottom: -2em;
}

.post-type-archive-jetpack-testimonial .page-header {
	border-bottom: 0;
}

.post-type-archive-jetpack-testimonial .page-title,
.post-type-archive-jetpack-testimonial .taxonomy-description {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	max-width: 56.25rem;
}

.single-jetpack-testimonial .hentry-wrapper {
	padding-top: 1.5em;
}

/*--------------------------------------------------------------
## Widgets
--------------------------------------------------------------*/
/* Akismet */
.widget_akismet_widget .a-stats {
	color: $secondary-text-color;
	margin-bottom: 1.5em;
	width: 100%;
}

.widget_akismet_widget .a-stats a,
.widget_akismet_widget .a-stats .count {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
}

.widget_akismet_widget .a-stats a {
	background: transparent;
	border: 0;
	border-radius: 0;
	display: inline-block;
	padding: 0;
	text-align: inherit;
	width: auto;
}

.widget_akismet_widget .a-stats a:focus,
.widget_akismet_widget .a-stats a:hover {
	background: transparent;
	color: $primary-brand-color;
}

.widget_akismet_widget .a-stats .count {
	display: inline-block;
	padding: 0;
}

.widget-footer-top-area .widget_akismet_widget .a-stats {
	color: rgba(255, 255, 255, 0.75);
}

.widget-footer-top-area .widget_akismet_widget .a-stats a:focus,
.widget-footer-top-area .widget_akismet_widget .a-stats a:hover {
	color: #fff;
}

/* Blog Subscriptions */
.jetpack_subscription_widget form,
.jetpack_subscription_widget .success {
	border: 1px solid #f3f3f3;
	margin-bottom: 1.5em;
	padding: 1.5em 1.5em 0;
}

.widget-footer-top-area .jetpack_subscription_widget form,
.widget-footer-top-area .jetpack_subscription_widget .success {
	border-color: rgba(255, 255, 255, 0.25);
}

/* Contact Info */
.widget_contact_info .contact-map,
.widget_contact_info > div:last-of-type {
	margin-bottom: 1.5em;
}

/* Display WordPress Posts */
.widget_jetpack_display_posts_widget .jetpack-display-remote-posts {
	margin: 0;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts h4 {
	font-size: inherit;
	line-height: inherit;
	margin: 0 auto 1.5em;
	padding: 0;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts img {
	margin-bottom: 1.5em;
}

.widget_jetpack_display_posts_widget .jetpack-display-remote-posts p {
	font-size: inherit;
	line-height: inherit !important;
	margin: 0 0 1.5em !important;
}

/* Goodreads */
.widget_goodreads br,
.widget_goodreads center {
	display: none;
}

.widget_goodreads h2[class^="gr_custom_header"] {
	font-size: inherit;
	line-height: inherit;
	margin: 0 auto 1.5em;
}

.widget_goodreads div[class^="gr_custom_title"] a,
.widget_goodreads div[class^=gr_custom_container] a {
	color: $secondary-text-color;
	font-weight: normal;
}

.widget-footer-top-area .widget_goodreads div[class^="gr_custom_title"] a,
.widget-footer-top-area .widget_goodreads div[class^=gr_custom_container] a {
	color: rgba(255, 255, 255, 0.75);
}

.widget_goodreads div[class^="gr_custom_title"] a:focus,
.widget_goodreads div[class^="gr_custom_title"] a:hover,
.widget_goodreads div[class^=gr_custom_container] a:focus,
.widget_goodreads div[class^=gr_custom_container] a:hover {
	color: $primary-brand-color;
}

.widget-footer-top-area .widget_goodreads div[class^="gr_custom_title"] a:focus,
.widget-footer-top-area .widget_goodreads div[class^="gr_custom_title"] a:hover,
.widget-footer-top-area .widget_goodreads div[class^=gr_custom_container] a:focus,
.widget-footer-top-area .widget_goodreads div[class^=gr_custom_container] a:hover {
	color: #fff;
}

.widget_goodreads div[class^="gr_custom_container"] {
	background: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	margin-bottom: 1.5em;
	padding: 0;
}

.widget_goodreads div[class^="gr_custom_each_container"] {
	border-bottom: 0;
	border-top: 1px solid #f3f3f3;
	padding: 0.75em 0;
	margin: 0;
}

.widget-footer-top-area .widget_goodreads div[class^="gr_custom_each_container"] {
	border-top-color: rgba(255, 255, 255, 0.25);
}

.widget_goodreads div[class^="gr_custom_each_container"]:last-of-type {
	border-bottom: 1px solid #f3f3f3;
}

.widget-footer-top-area .widget_goodreads div[class^="gr_custom_each_container"]:last-of-type {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.widget_goodreads div[class^="gr_custom_title"] {
	font-weight: bold;
}

.widget_goodreads div[class^="gr_custom_author"] {
	color: inherit;
	font-size: inherit;
	padding: 0;
}

/* Google+ Badge */
.widget_googleplus_badge iframe {
	margin-bottom: 1.5em !important;
}

/* Gravatar Profile */
.widget-grofile .grofile-thumbnail {
	border-radius: 50%;
	margin-bottom: 1.5em;
}

.widget-grofile h4 {
	margin: 0 0 1.5rem !important;
}

.widget-grofile .grofile-full-link {
	display: inline-block;
}

/* Image */
.widget_image .jetpack-image-container {
	margin-bottom: 1.5em;
}

.widget_image .jetpack-image-container img {
	vertical-align: middle;
}

.widget_image .jetpack-image-container .wp-caption {
	margin-bottom: 0;
}

.widget_image .jetpack-image-container .wp-caption-text {
	padding: 0.1875rem 0;
}

/* RSS Links */
.widget_rss_links ul {
	border-bottom: 1px solid #f3f3f3;
	list-style: none;
	margin-left: 0;
}

.widget-footer-top-area .widget_rss_links ul {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.widget_rss_links li {
	border-top: 1px solid #f3f3f3;
	padding: 0.75em 0;
}

.widget-footer-top-area .widget_rss_links li {
	border-color: rgba(255, 255, 255, 0.25);
}

.widget_rss_links a {
	border-bottom: 0;
}

.widget_rss_links p {
	border-top: 1px solid #f3f3f3;
	margin-bottom: 0;
	padding: 0.75em 0;
}

.widget-footer-top-area .widget_rss_links p {
	border-top-color: rgba(255, 255, 255, 0.25);
}

.widget_rss_links p:last-of-type {
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 1.5em;
	padding-bottom: 0.75em;
}

.widget-footer-top-area .widget_rss_links p:last-of-type {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.widget_rss_links p a + a {
	margin-left: 0.1865em;
}

.widget_rss_links img {
	vertical-align: middle;
}

/* Social Media Icons */
.site .widget_wpcom_social_media_icons_widget ul {
	font-size: 16px;
	font-size: 1rem;
	margin: 0 0 1em -0.25em;
}

.site .widget_wpcom_social_media_icons_widget ul:before,
.site .widget_wpcom_social_media_icons_widget ul:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.site .widget_wpcom_social_media_icons_widget ul:after {
	clear: both;
}

.site .widget_wpcom_social_media_icons_widget li {
	display: block;
	margin: 0 0.25em 0.5em;
	text-align: center;
}

.site .widget_wpcom_social_media_icons_widget li {
	float: left;
}

.site .widget_wpcom_social_media_icons_widget li:last-child {
	margin-right: 0;
}

.site .widget_wpcom_social_media_icons_widget a {
	border: 1px solid #f3f3f3;
	border-radius: 50%;
	color: $secondary-text-color;
	display: block;
	font-size: 16px;
	font-size: 1rem;
	height: 2em;
	position: relative;
	width: 2em;
}

.widget-footer-top-area .widget_wpcom_social_media_icons_widget a {
	border-color: rgba(255, 255, 255, 0.25);
	color: rgba(255, 255, 255, 0.75);
}

.site .widget_wpcom_social_media_icons_widget a:before {
	left: 50%;
	margin-left: -0.5em;
	margin-top: -0.5em;
	position: absolute;
	top: 50%;
}

.site .widget_wpcom_social_media_icons_widget a:hover,
.site .widget_wpcom_social_media_icons_widget a:focus {
	background: #f3f3f3;
	color: $primary-brand-color;
}

.widget-footer-top-area .widget_wpcom_social_media_icons_widget a:hover,
.widget-footer-top-area .widget_wpcom_social_media_icons_widget a:focus {
	background: rgba(255, 255, 255, 0.25);
	border-color: transparent;
	color: #fff;
}

/* Top Posts & Pages */
.widget_top-posts ul {
	border-bottom: 1px solid #f3f3f3;
	list-style: none;
	margin-left: 0;
}

.widget-footer-top-area .widget_top-posts ul {
	border-bottom-color: rgba(255, 255, 255, 0.25);
}

.widget_top-posts li {
	border-top: 1px solid #f3f3f3;
	padding: 0.75em 0;
	vertical-align: middle;
}

.widget_top-posts .widgets-list-layout li {
	margin-bottom: 0;
}

.widget-footer-top-area .widget_top-posts li {
	border-top-color: rgba(255, 255, 255, 0.25);
}

.widget_top-posts .widgets-grid-layout {
	margin-bottom: 1.5em;
}

/* Twitter Timeline */
.widget_twitter_timeline iframe {
	margin-bottom: 1.5em !important;
}