/*--------------------------------------------------------------
## Back to Top
--------------------------------------------------------------*/
.back-top {
	background: $secondary-text-color;
	border-radius: 0;
	display: none;
	opacity: 0.75;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.back-top:focus,
.back-top:hover {
	opacity: 1;
}